@model Site.Models.CreateViewModel

@{
    ViewBag.Title = "Case";
}

<h2>@Model.Item.Name</h2>

@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Case.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Case.Type, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Case.Type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Case.ExtFiveBays, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Case.ExtFiveBays, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Case.ExtFiveBays, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Case.IntThreeBays, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Case.IntThreeBays, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Case.IntThreeBays, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <a type="button" href="javascript:document.forms[0].submit()" class="btn btn-primary btn-lg btn-block">Create</a>
        <a type="button" href="~/Inventory/Index" class="btn btn-secondary btn-lg btn-block">Cancel</a>
    </div>
</div>
    }


