@model Database.Model.CPUCooler

@{
    ViewBag.Title = "CPUCooler";
}

<h2>CPUCooler</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>CPUCooler</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.FanRPM, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FanRPM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FanRPM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NoiseLevel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NoiseLevel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NoiseLevel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <a type="button" href="javascript:document.forms[0].submit()" class="btn btn-primary btn-lg btn-block">Create</a>
        <a type="button" href="~/Inventory/Index" class="btn btn-secondary btn-lg btn-block">Cancel</a>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
