@model Dictionary<string, string>

@{
    ViewBag.Title = "Details";
}

<div>

    <h3>@Model.ElementAt(0).Value</h3>
    <hr />
    <dl class="dl-horizontal">


        @foreach (var item in Model.Skip(1))
        {

            <dt>
                @item.Key
            </dt>

            <dd>
                @item.Value
            </dd>

        }

    </dl>
    <hr />
    <a type="button" href="~/Inventory/Index" class="btn btn-primary btn-lg btn-block">Go Back</a>
</div>

        @*<dt>
        @Html.DisplayNameFor(model.ElementAt(0) => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
