@model Database.Model.Item

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="myForm">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        @{
            var selectList = new SelectList(
                new List<SelectListItem>
                {
            new SelectListItem {Text = "CPU", Value = "CPU"},
            new SelectListItem {Text = "CPUCooler", Value = "CPUCooler"},
            new SelectListItem {Text = "GPU", Value = "GPU"},
            new SelectListItem {Text = "MOTHERBOARD", Value = "MOTHERBOARD"},
            new SelectListItem {Text = "PSU", Value = "PSU"},
            new SelectListItem {Text = "RAM", Value = "RAM"}
                }, "Value", "Text");
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Component, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Component, selectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Component, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @*<input type="submit" value="Save" class="btn btn-primary btn-lg btn-block" />*@
            <a type="button" href="javascript:document.forms[0].submit()" class="btn btn-primary btn-lg btn-block">Save</a>
            <a type="button" href="~/Inventory/Index" class="btn btn-secondary btn-lg btn-block">Go Back</a>
        </div>
    </div>
}

