@model  IEnumerable<Database.Model.Transaction>

@{
    ViewData["Title"] = "History";
}

<h2>History</h2>

<a type="button" href="~/Inventory/Index" class="btn btn-primary">Go Back</a>
<p/>

<p>
    Search: <input type="text" id="myInput" onkeyup="filterTable()" name="SearchString">
</p>

<table class="table" id="tableContent">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Change)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
    </tr>
    @foreach (var transaction in Model)
    {
        <tr id="mainTR">
            <td>
                @Html.DisplayFor(modelItem => transaction.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.Change)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.Reason)
            </td>
        </tr>
    }

</table>


@section Scripts
{
    <script type="text/javascript">
        function filterTable() {
            // Declare variables
            var input, filterInput, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            category = document.getElementById("myCategory")
            filterInput = input.value.toUpperCase();
            table = document.getElementById("tableContent");
            tr = table.getElementsByTagName("tr");
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td2 = tr[i].getElementsByTagName("td")[3];

                // Check search query
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filterInput) > -1) {
                        tr[i].style.display = "";
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }



            }
        }
    </script>

}