@model IList<Site.Models.POSViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Point of Sale</h2>

@*Search box*@
<p>
    Search: <input type="text" id="myInput" onkeyup="filterTable()" name="SearchString">
</p>



<table class="table" id="tableContent">
    @*Headers for list of items*@
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model[0].Item.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model[0].Item.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model[0].Item.Component)
        </th>
        <th>
            Quantity
        </th>
    </tr>
    @*Begin form to find quantity of items to sell*@
    @using (Html.BeginForm())
    {
        @*Loop through all items keeping index*@
        for (int i = 0; i < Model.Count(); i++)
        {
            @*Display item variables*@
            <tr id="mainTR">
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Item.Name)
                </td>
                <td id="price">
                    @Html.DisplayFor(modelItem => Model[i].Item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Item.Component)
                </td>



                <td>
                    @*Display item quantity if quantity is over 0, else display "Out of Stock!"*@
                    @if (Model[i].Item.Quantity > 0)
                    {
                        @Html.DropDownListFor(modelItem => Model[i].Quantity,
                            Enumerable.Range(0, Model[i].Item.Quantity + 1).Select(a => new SelectListItem
                            {
                                Text = a.ToString(), Value = a.ToString()
                            }), new { @name="QuantityDD", @onchange="UpdateConfirmButton()" })
                    }
                    else
                    {
                        @:Out of Stock!
                    }

                    @Html.HiddenFor(modelItem => Model[i].ID)
                </td>


            </tr>
        }

        <a type="button" id="CheckoutButton" class="btn btn-secondary btn-lg btn-block">No Items Selected</a>
    }


</table>


@section Scripts
{
    <script type="text/javascript">
        function filterTable() {
            // Declare variables
            var input, filterInput, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            category = document.getElementById("myCategory")
            filterInput = input.value.toUpperCase();
            table = document.getElementById("tableContent");
            tr = table.getElementsByTagName("tr");
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];

                // Check search query
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filterInput) > -1) {
                        tr[i].style.display = "";
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <script type="text/javascript">
        function UpdateConfirmButton() {
            var total, dropdowns, table, button, tr;
            total = 0;
            price = 0.00;
            table = document.getElementById("tableContent");
            dropdowns = table.getElementsByTagName("select");
            tr = table.getElementsByTagName("tr");
            button = document.getElementById("CheckoutButton");
            button.textContent = "No Items Selected";
            button.removeAttribute("href");
            button.className = "btn btn-secondary btn-lg btn-block";

            // Get information
            for (i = 0; i < tr.length; i++) {

                // Total quantity
                if (dropdowns[i]) {
                    total = total + parseInt(dropdowns[i].value);
                }

            }



            if (total > 0)
            {
                button.href = "javascript:document.forms[0].submit()";
                button.textContent = "Confirm Purchase: (" + total.toString() + " Items)";
                button.className = "btn btn-primary btn-lg btn-block";
            }
        }
    </script>

}