@model Site.Models.POSViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Point of Sale</h2>

<p>
    Search: <input type="text" id="myInput" onkeyup="filterTable()" name="SearchString">
</p>


<table class="table" id="tableContent">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items[0].Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items[0].Component)
        </th>
        <th>
            Quantity
        </th>
    </tr>
    @using (Html.BeginForm())
    {
        //foreach (var item in Model)
        for(int i = 0; i < Model.Items.Count(); i++)
        {
            //@Model.Add(item.ID, 0);
            <tr id="mainTR">
                <td>
                    @Html.DisplayFor(modelItem => Model.Items[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Items[i].Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Items[i].Component)
                </td>



                <td>
                    @*<select id="@item.Item.Name*Dropdown" name="@item.Item.Name*Dropdown" onchange="addToDictionary(@item.Item.ID, this.Value)">
            @for (int i = 0; i <= item.Quantity; i++)
            {
                <option value="@item.Item.ID">@i</option>
            }
        </select>*@
                    @Html.DropDownListFor(modelItem => Model.Quantitys[i],
                        Enumerable.Range(0, Model.Items[i].Quantity + 1)
                        .Select(a => new SelectListItem
                        {
                            Text = a.ToString(), Value = a.ToString()
                        }))
                    @*@Html.HiddenFor(modelItem => item.Quantity)

                    @Html.HiddenFor(modelItem => item.Item)*@

                    @Html.HiddenFor(modelItem => Model.Items[i])
                </td>


            </tr>
        }

    @Html.SubmitButton("Save", new { @class = "btn btn-default", id = "create-button" })
    <a type="button" href="javascript:document.forms[0].submit()" class="btn btn-primary btn-lg btn-block">Save</a>
    }


</table>

@*<p>
    <input type="submit" value="Submit" />
</p>*@



@section Scripts
{
    <script type="text/javascript">
        function filterTable() {
            // Declare variables
            var input, filterInput, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            category = document.getElementById("myCategory")
            filterInput = input.value.toUpperCase();
            table = document.getElementById("tableContent");
            tr = table.getElementsByTagName("tr");
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td2 = tr[i].getElementsByTagName("td")[3];

                // Check search query
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filterInput) > -1) {
                        tr[i].style.display = "";
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }



            }
        }

    </script>

}